.open-sans-noto-serif {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-in {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    max-width: 1440px;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 100px;
    max-width: 1140px;
    max-height: 71px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
}

nav li a {
    text-decoration: none;
    font-size: medium;
    color: #8987A1;
}
.home{
    font-size:medium;
    font-weight: bold;
    color: #252432;
}
.cart{
    display: flex;
    align-items: center;
    font-size:medium;
    font-weight: 400;
    color: #000000;
}

.cart i {
  font-size: medium;
  margin-right: 8px;
  margin-left: 50px;

}
.banner{
    display: flex;
    max-width: 1240px;
    max-height: 461px;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin:0 auto;
}

.banner > div{
    flex: 1;
}
.h1{
    font-size: 65px;
    font-weight: bold;
    color: #000000;
}
.fresh{
    color: #E95A08;
}

/* regular:400
medium:500
semibold:600
bold:700
extrabold:800
black:900 */

.p{
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.banner img{
    width: 570px;
    height: 355;
    margin-top: 200px;
}

.h2{
    font-size: 50px;
    font-weight: bold;
}
.action{
    text-align: center;
    margin: 100px;
    max-width: 1140px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 30px;
    gap: 15px;
    align-items: center;
    justify-content: center;
    max-width: 1140px;
}
.h5{
    font-size: 22px;
    font-weight: 500;
    padding: auto;
    /* margin: 0px; */
}
.h4{
    /* margin: 0px; */
    font-size: 22px;
    font-weight: bold;
    padding: auto;
}
.btn{
    font-size: 16px;
    font-weight: 600px;
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 15px 82px;
}

/* seller section */
.seller{
    display: flex;
    max-width: 1140px;
    max-height: 597px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px;
}

.left{
    position: relative;
    width: 50%;
}
.left img {
    width: 100%;
    height: auto;
    display: block;
}

.right{
    margin: 120px 0px 0px 0px;
    width: 45%;
    height: 100%;
}
.badge {
      position: absolute;
      top: -100px;
      left: 100%;
      transform: translateX(-50%);
      max-width: 286px;
      max-height: 286px;
    }   



.bg-1{
    background-image: url(../assets/deal-bloom.png);
    /* background-repeat: no-repeat; */
    width: 100%;
    max-height: 210px;
}
.bg-2{
    background-image: url(../assets/deal-ana.png);
    /* background: url(../assets/news-letter-bg.png); */
    max-width: 1140px;
    max-height: 210px;
}
.bg-3{
    background-image: url(../assets/deal-zabo.png);
    /* background: url(../assets/news-letter-bg.png); */
    max-width: 1140px;
    max-height: 424px;
}

/* promo section */

.promo-section {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.right-column {
  flex: 2;
}

.promo-card {
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  height: 430px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.promo-content {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 8px;
}

.promo-content h4 {
  font-size: 20px;
  margin: 0 0 10px;
  font-weight: bold;
}

.promo-content a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid white;
  padding-bottom: 2px;
  /* transition: 0.3s; */
}

.promo-content .discount{
    font-size: 40px;
    font-weight: bold;
    color: white;
} 

.promo-content .shop{
    font-size: 28px;
    font-weight: 600;
    color: white;
}

/* Subscribe section */

.subscribe-box{
    background-image: url(../assets/news-letter-bg.png);
    /* background: url(../assets/news-letter-bg.png); */
    max-width: 1140px;
    max-height: 533px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 200px;
    margin: 0 auto;
}
.subscribe-form {
  display: flex;
  max-width: 720px;
  width: 100%;
  overflow: hidden;
}
.subscribe-form input {
  flex: 1;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  border: none;
}

.subscribe-form button {
  background-color: #E95A08; 
  color: white;
  padding: 0 25px;
  font-size: 16px;
  border: none;
  font-weight: 600;
}

.text{
    font-size: 50px;
    font-weight: bold;
    color: white;   
}


/* Footer section */
footer{
    display: flex;
    /* align-items: center; */
    justify-items: center;
    justify-content: space-around;
    max-width: 1240px;
    max-height: 461px;
    margin: 100px;
}

footer ul li {
    list-style: none;
    margin: 10px;
}

footer li a {
    text-decoration: none;
    font-size: 15px;
    color: gray;
    
}
footer .log{
    max-width:359px;
    max-height: 179px;
}
.icon{
    display: flex;
    gap: 12px;
}
.icon img{
    height: 36px;
    width: 36px;
    /* justify-content: space-around; */
    
}
@media screen and (max-width: 393px) {
    .banner{
        flex-direction: column-reverse;
    }
    .container{
        grid-template-columns: repeat(2,1fr);
    }
    .seller{
        flex-direction: row;
        display: inline-flex;
    }
    .action{
        display: inline-table;
    }
    .promo-section{
        flex-direction: column;
    }

    
}

